<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="template :: head"></div>
		<title>Sent Mail</title>

		<link rel="stylesheet" th:href="@{../../css/adminSentMail.css}" />

	  	<script rel="text/javascript" th:src="@{../../script/adminSentMail.js}"></script>
	</head>
	<body>
		<!--Default navbar-->
		<nav th:replace="template :: nav"></nav>
		
		<!-- Body contents -->
		<div class="container body-content">
	    	<div class="container" id="bodyCon">
	    		 <div class="row">
			        <div class="col-xs-2">
           
			            <ul class="nav nav-pills nav-stacked">
						  <li><a th:href="@{/inbox}" class="menu">Inbox</a></li>
						  <li><a th:href="@{/sentMail}" class="menu active">Sent Mail</a></li>
						</ul>
			       	</div>
			       	
			       	<div class="col-xs-10">
				        
			       		<div class="row">
				       		<div class="col-xs-9">
					       		<div class="container" id="adminPanelHeaderCon">
					       			<h3 id="adminPanelHeader">SentMail</h3>
					       		</div>
					       	</div>
				       	</div>	
				       	
				       	<div class="row">
				       	
				       		<div class="col-xs-9">
					       		<div class="container" id="table">
					       			<table class="table">
										  <thead>
										    <tr action="/sentMail" th:action="@{/sentMail}" method="get">
										      <th>#</th>
										      <th>Date</th>
										      <th>Name</th>
										      <th>Email</th>
										      <th>Subject</th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr th:each="reply : ${replies}">
										      <td th:text="${replies.id}"></td>
										      <!-- <td id="emailDate"></td> -->										      
										      <td th:text="${replies.name}"></td>
										      <td th:text="${replies.email}"></td>
										      <td th:text="${replies.subject}"></td>
										      <td th:text="${replies.admin_reply}"></td>
										    </tr>
										  </tbody>
									</table>
					       		</div>
			       			</div> <!-- end of row -->
			      		 </div> <!-- end of col -->
			       	
			     </div> <!-- end of col -->
		       	
	    	</div>
	  	  </div>
		</div>
		
		<div th:replace="template :: footer"></div>
		
	</body>
</html>